.painelCategoria {
    max-width: 500px;
}
#verbas2014 {
    max-width: 600px;
}
.comentario {
    font-style: italic;
}
#botaoDespesas {
    padding-left: 8px;
}
.bottomMargin {
    margin-bottom: 8px;
}
.dados{
    max-width: 700px;
}